body {
  text-align: center;
}
header {
  background-color: blueviolet;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  margin-right: 0;
  border-radius: 4px;
  padding: 8px;
}
button {
  margin-left: 0;
  border-radius: 4px;
  padding: 8px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;

  .photo-card {
    margin: 10px;

    .info {
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 5px;

      .info-item {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 5px;
      }
    }
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.load-more {
  padding: 10px;
  background-color: rgb(21, 121, 228);
  color: white;
}
